* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.1rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: hsl(216, 6%, 47%)
}

input {
    background: none;
    border: none;
    outline: none;
    font-size: 1.8rem;
}

::placeholder {
    color: hsl(216, 6%, 47%);
    font-size: 1.8rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    height: 0px;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 10vh;
}

.signup-form {
    display: flex;
    width: 100%;
    height: 62%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    width: 50%;
    align-items: flex-end;
    margin-left: 15%;
}

.link-container {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15%;
    padding-bottom: 0.8rem;
}

a {
    text-decoration: none;
    color: black;
}

a.login {
    color: #2EBD71;
}

.links {
    list-style: none;
    display: inline-flex;
    font-size: 2rem;
}

.logo {
    font-family: "Poppins", sans-serif;
    z-index: 1;
    font-size: 38px;
    color: #2EBD71;
    text-shadow: 2px 2px rgb(2, 131, 67);
}

.login {
    margin-right: 40px;
    background: white;
    border: 2px solid #2EBD71;
    border-radius: 2px;
    padding: 5px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.signup {
    background: #2EBD71;
    border-radius: 2px;
    padding: 5px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

a.signup {
    color: white;
}

.search {
    width: 950px;
    height: 90px;
    position: relative;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.make-wrapper {
    height: 100%;
    width: 30rem;
    background-color: white;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    position: relative;
}

.make {
    height: 100%;
    width: 100%;
    border-right: 0.1rem solid hsl(240, 6%, 91%);
    border-radius: 0px;
    padding-left: 20%;
    padding-right: 10%;
}

.fa-tools {
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: hsl(219, 11%, 74%);
}

.fa-chevron-down {
    font-size: 1.3rem;
    position: absolute;
    top: 3.8rem;
    right: 2rem;
    color: #2EBD71;
}

.model-wrapper {
    height: 100%;
    width: 30rem;
    background-color: white;
    position: relative;
}

.model {
    height: 100%;
    width: 100%;
    border-right: 0.1rem solid hsl(240, 6%, 91%);
    border-radius: 0px;
    padding-left: 21%;
    padding-right: 10%;
}

.fa-car {
    font-size: 2.7rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: hsl(219, 11%, 74%);
}

.zip-wrapper {
    height: 100%;
    width: 20rem;
    background-color: white;
    position: relative;
}

.zip {
    height: 100%;
    width: 100%;
    padding-left: 26%;
    padding-right: 10%;
}


.fa-map-marker-alt {
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: hsl(219, 11%, 74%);
}

.button-wrapper {
    height: 100%;
    width: 15rem;
    background: #2EBD71;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    transition-duration: 0.3s;
}

.button-wrapper:hover {
    background: rgb(51, 212, 127);
    transition-duration: 0.3s;
}

.btn {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.headline-container {
    text-align: center;
    width: 95rem;
    height: 100%;
    margin-top: -10rem;
    margin-bottom: 5rem;
    line-height: 5rem;
}

.brands-container {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 10rem;
    width: 85vw;
    justify-content: space-evenly;
    margin-left: -14rem;
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.4rem;
    color: #333333;
}

.subhead {
    font-size: 2.4rem;
    color: #2c2c2c;
}

.graphic-container {
    width: 100%;
    height: 75rem;
    background-color: #2EBD71;
    position: relative;
    -webkit-clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
    clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.car-top {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 135px;
    margin-right: 120px;
    opacity: 1;
    z-index: 1;
}

.car-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -70px;
    margin-right: 120px;
    opacity: 0;
    z-index: 1;
}

.truck {
    margin-bottom: -50px !important;
}

.muscle {
    margin-bottom: -85px !important;
}


.text-container {
    text-align: center;
    width: 40vw;
    height: 50vh;
    line-height: 5rem;
    margin-left: 12rem;
    margin-top: 4.5rem;
}

.text-container .subhead {
    color: white;
    margin-top: 2rem;
    line-height: 4rem;
}

.text-container .headline {
    color: white;
}

.white-container {
    width: 100%;
    height: 60.5rem;
    position: relative;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-container2 {
    text-align: center;
    width: 40vw;
    height: 50vh;
    line-height: 5rem;
    margin-left: 18rem;
}

.text-container2 .subhead {
    margin-top: 2rem;
    line-height: 4rem;
}

.isometric-car {
    position: absolute;
    left: 0;
    margin-left: 12rem;
}

.light {
    fill: #2EBD71;
    animation: colorSwapLight 10s infinite;
}

.dark {
    fill: rgb(34, 141, 84);
    animation: colorSwapDark 10s infinite;
}

.darkest {
    fill: rgb(22, 92, 55);
    animation: colorSwapDarkest 10s infinite;
}

.inbetween {
    fill: rgb(37, 156, 93);
    animation: colorSwapInbetween 10s infinite;
}

.gray-container {
    width: 100%;
    height: 70rem;
    background-color: #f3f3f3;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.yellow-car {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    max-width: 100rem;
}

.text-container3 {
    text-align: center;
    width: 50vw;
    height: 30rem;
    line-height: 5rem;
    margin-left: 6%;
    margin-top: 2%;
    align-items: center;
    z-index: 1;
}

.text-container3 button {
    margin-top: 3.5rem;
}

.text-container3 a {
    font-size: 2.5rem;
}

.text-container3 .subhead {
    margin-top: 2rem;
}

.forgot-pass:hover {
    border-bottom: 1px solid #2EBD71;
}

.shadow {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 145px;
    margin-bottom: 30px;
}

.bg-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}

.modal-content {
    height: 76%;
    width: 40%;
    background-color: white;
    position: relative;
    display: flex;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

.close {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    font-size: 42px;
    z-index: 99;
}

.close:hover {
    color: red;
}

.modal-container {
    height: 100%;
    width: 100%;
}

.modal-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
}

.modal-signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
}

.tab-headline {
    font-size: 3.3rem;
    color: #2EBD71;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 1.25rem;
}

#email-signup,
#email-login {
    background: rgb(240, 240, 240);
    width: 75%;
    height: 7rem;
    padding-left: 2%;
    border-radius: 2px;
    margin-bottom: 1%;
}

#password-login,
#password-signup,
#confirm {
    background: rgb(240, 240, 240);
    width: 75%;
    height: 7rem;
    padding-left: 2%;
    border-radius: 2px;
    margin-bottom: 1%;
}

.tabs {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.input-container {
    display: flex;
    width: 100%;
    height: 62%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3.7rem;
}

.input-container button {
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.input-container a.create-account {
    width: 75%;
    height: 7rem;
    background: #2EBD71;
    border-radius: 2px;
}

.social-container {
    width: 100%;
    height: 42%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-divider {
    width: 75%;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
    margin-top: 3%;
}

.facebook,
.social {
    width: 36.5%;
    height: 7rem;
}

.facebook {
    background: #3b5b99;
    margin-right: 1%;
    margin-top: 3%;
    position: relative;
    border-radius: 2px;
    padding-left: 5%;
}

.twitter {
    width: 36.5%;
    height: 7rem;
    background: #00a2d0;
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 2px;
    position: relative;
    padding-left: 6%;
}

.social-span {
    background: #fff;
    padding: 0 0.75rem;
}

.login-content {
    display: none;
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s;
}

.signup-content {
    display: none;
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s;
}

.active {
    background: #d6d6d6;
    opacity: 0.3;
}

.fa-facebook-f {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.75rem;
    margin-top: 10%;
    margin-left: 24%;
}

.fa-twitter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.75rem;
    margin-top: 10%;
    margin-left: 26%;
}

.modal-footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: rgb(241, 241, 241);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer a {
    font-size: 1.3rem;
    color: #2EBD71;
}

/* Results Page */
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin-top: 1rem;
}

.main-container {
    margin-top: 1rem;
    padding-top: 1rem;
    height: 100%;
    width: 100%;
    padding: 0 7rem;
    display: flex;
    background: #eeeded;
}

.sidebar-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 30%;
    background: #2EBD71
}

.data-container {
    flex: 70;
    height: 100%;
    width: 100%;
    position: relative;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem;
}

.heading {
    font-size: 1rem;
}

.results {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    background: #ffffff;
}

.listing-title {
    font-size: 2.5rem;
    position: absolute;
}

.img-container {
    max-height: auto;
    padding-top: 4rem;
    overflow: hidden;
    margin-right: 0.5rem;
    flex: 50%;
}

.list-img {
    height: auto;
    width: 100%;
    min-width: 30rem;
    min-height: 30rem;
    display: block;
}

.info-container {
    padding-top: 4rem;
    margin-left: 0.5rem;
    flex: 50%;
}

.price-container {
    padding: 0rem 1rem;
    height: 4rem;
    width: 100%;
    position: relative;
}

.history-container {
    margin-top: 0.75rem;
    height: 15rem;
    width: 100%;
}

.columns {
    display: flex;
    height: 100%;
}

.column-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 3px;
    border-right: solid 1px #bdbdbd;
    flex: 33%;
    height: 100%;
    background: #f5f8fb;
}

.column-item:last-child {
    border-right: none;
}

.history-text {
    font-size: 1rem;
}

.price {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
}

.mileage {
    font-size: 1.35rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;
}

.results:hover {
    border: 1px solid #2EBD71;
    background: rgb(113, 250, 177);
}

.details-container {
    margin-top: 0.75rem;
    width: 100%;
    background: yellow;
}

.sort {
    text-indent: 0;
}


/* button effects */

.signup {
    transition: all 0.2s;
}

.signup span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.signup span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2rem;
    transition: 0.3s;
}

.signup:hover span {
    padding-right: 1.75rem;
}

.signup:hover span:after {
    opacity: 1;
    right: 0;
}

.signup:hover {
    background: rgb(51, 212, 127);
    border-color: rgb(51, 212, 127);
}

.login {
    transition: all 0.2s ease 0s;
}

.login:hover {
    color: #ffffff;
    border-color: rgb(51, 212, 127);
    background: rgb(51, 212, 127);
    transition: all 0.2s ease 0s;
}

/* Animations */

@keyframes colorSwapLight {
    10% {
        fill: rgb(189, 75, 46)
    }

    20% {
        fill: rgb(189, 75, 46)
    }

    30% {
        fill: rgb(46, 184, 189)
    }

    40% {
        fill: rgb(46, 184, 189)
    }

    50% {
        fill: rgb(241, 239, 79)
    }

    60% {
        fill: rgb(241, 239, 79)
    }

    70% {
        fill: rgb(231, 158, 61)
    }

    80% {
        fill: rgb(231, 158, 61)
    }

    90% {
        fill: #2EBD71
    }

    100% {
        fill: #2EBD71
    }
}

@keyframes colorSwapDark {
    10% {
        fill: rgb(133, 53, 32)
    }

    20% {
        fill: rgb(133, 53, 32)
    }

    30% {
        fill: rgb(30, 118, 121)
    }

    40% {
        fill: rgb(30, 129, 133)
    }

    50% {
        fill: rgb(194, 192, 63)
    }

    60% {
        fill: rgb(194, 192, 63)
    }

    70% {
        fill: rgb(182, 124, 49)
    }

    80% {
        fill: rgb(182, 124, 49)
    }

    90% {
        fill: rgb(34, 141, 84)
    }

    100% {
        fill: rgb(34, 141, 84)
    }
}

@keyframes colorSwapDarkest {
    10% {
        fill: rgb(87, 34, 20)
    }

    20% {
        fill: rgb(87, 34, 20)
    }

    30% {
        fill: rgb(23, 93, 95)
    }

    40% {
        fill: rgb(23, 93, 95)
    }

    50% {
        fill: rgb(161, 160, 56)
    }

    60% {
        fill: rgb(161, 160, 56)
    }

    70% {
        fill: rgb(150, 102, 40)
    }

    80% {
        fill: rgb(150, 102, 40)
    }

    90% {
        fill: rgb(22, 92, 55)
    }

    100% {
        fill: rgb(22, 92, 55)
    }
}

@keyframes colorSwapInbetween {
    10% {
        fill: rgb(156, 62, 38)
    }

    20% {
        fill: rgb(156, 62, 38)
    }

    30% {
        fill: rgb(37, 151, 155)
    }

    40% {
        fill: rgb(37, 151, 155)
    }

    50% {
        fill: rgb(207, 205, 54)
    }

    60% {
        fill: rgb(207, 205, 54)
    }

    70% {
        fill: rgb(202, 138, 53)
    }

    80% {
        fill: rgb(202, 138, 53)
    }

    90% {
        fill: rgb(37, 156, 93)
    }

    100% {
        fill: rgb(37, 156, 93)
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search-icon {
    margin-left: 15rem;
    animation: movement 10s infinite;
}

@keyframes movement {
    10% {
        transform: translate(225px, -75px) rotate(-20deg)
    }

    20% {
        transform: translate(225px, -75px) rotate(-20deg)
    }

    30% {
        transform: translate(-110px, -90px) rotate(100deg)
    }

    40% {
        transform: translate(-110px, -90px) rotate(100deg)
    }

    50% {
        transform: translate(-120px, 130px) rotate(70deg)
    }

    60% {
        transform: translate(-120px, 130px) rotate(70deg)
    }

    70% {
        transform: translate(150px, 75px) rotate(10deg)
    }

    80% {
        transform: translate(150px, 75px) rotate(10deg)
    }

    90% {
        transform: translate(0px, 0px)
    }

    100% {
        transform: translate(0px, 0px)
    }
}

.car-top {
    animation: rotateBottom 25s infinite, disappear 25s infinite;
    animation-fill-mode: forwards;
}

.rotate1 {
    animation: rotateTop1 25s infinite, appear1 25s infinite;
    animation-fill-mode: forwards;
}

.rotate2 {
    animation: rotateTop2 25s infinite, appear2 25s infinite;
    animation-fill-mode: forwards;
}

.rotate3 {
    animation: rotateTop3 25s infinite, appear3 25s infinite;
    animation-fill-mode: forwards;
}

.rotate4 {
    animation: rotateTop4 25s infinite, appear4 25s infinite;
    animation-fill-mode: forwards;
}


@keyframes rotateBottom {
    0% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
    }

    /* start next here */
    21% {
        -webkit-transform: rotate(-5deg);
    }

    25% {
        -webkit-transform: rotate(180deg) translateY(-200px);
    }

    95% {
        -webkit-transform: rotate(180deg) translateY(-200px);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    21% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    45% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    47% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    50% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop2 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    47% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    70% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    71% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    75% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop3 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    71% {
        -webkit-transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    95% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    96% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    100% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop4 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    54% {
        -webkit-transform: rotate(0deg);
    }

    56% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    66% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    67% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    69% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* 1 0 0 1 */
@keyframes disappear {
    20% {
        opacity: 1;
    }

    23% {
        opacity: 0;
    }

    96% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 0 1 1 0 0 */
@keyframes appear1 {
    22% {
        opacity: 0;
    }

    24% {
        opacity: 1;
    }

    47% {
        opacity: 1;
    }

    49% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear2 {
    48% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    72% {
        opacity: 1;
    }

    74% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear3 {
    72% {
        opacity: 0;
    }

    74% {
        opacity: 1;
    }

    96% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes appear4 {
    76% {
        opacity: 0;
    }

    78% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}