* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.1rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: hsl(216, 6%, 47%)
}

input {
    background: none;
    border: none;
    outline: none;
    font-size: 1.8rem;
}

::placeholder {
    color: hsl(216, 6%, 47%);
    font-size: 1.8rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    height: 0px;
}

.section {
    position: relative;
    width: 100%;
    height: 75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
}

.signup-form {
    display: flex;
    width: 100%;
    height: 62%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    width: 50%;
    align-items: flex-end;
    margin-left: 15%;
}

.link-container {
    display: flex;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15%;
    padding-bottom: 0.8rem;
}

.hamburger-links {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

a.login {
    color: #2EBD71;
}

.links {
    list-style: none;
    display: inline-flex;
    font-size: 2rem;
}

.logo {
    font-family: "Poppins", sans-serif;
    z-index: 1;
    font-size: 38px;
    color: #2EBD71;
    text-shadow: 2px 2px rgb(2, 131, 67);
}

.login {
    margin-right: 40px;
    background: white;
    border: 2px solid #2EBD71;
    border-radius: 2px;
    padding: 5px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.signup {
    background: #2EBD71;
    border-radius: 2px;
    padding: 5px 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

a.signup {
    color: white;
}

.search {
    width: 100%;
    height: 90px;
    position: relative;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.make-wrapper {
    height: 100%;
    width: 30rem;
    background-color: white;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    position: relative;
}

.make {
    height: 100%;
    width: 100%;
    border-right: 0.1rem solid hsl(240, 6%, 91%);
    border-radius: 0px;
    padding-left: 20%;
    padding-right: 10%;
}

.fa-tools {
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: hsl(219, 11%, 74%);
}

.icon {
    font-size: 1.3rem;
    position: absolute;
    top: 3.8rem;
    right: 2rem;
    color: #2EBD71;
}

.model-wrapper {
    height: 100%;
    width: 30rem;
    background-color: white;
    position: relative;
}

.model {
    height: 100%;
    width: 100%;
    border-right: 0.1rem solid hsl(240, 6%, 91%);
    border-radius: 0px;
    padding-left: 21%;
    padding-right: 10%;
}

.fa-car {
    font-size: 2.7rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: hsl(219, 11%, 74%);
}

.zip-wrapper {
    height: 100%;
    width: 20rem;
    background-color: white;
    position: relative;
}

.zip {
    height: 100%;
    width: 100%;
    padding-left: 26%;
    padding-right: 10%;
}

.zip-error {
    font-size: 1.2rem;
    display: block;
    padding: 1rem 2rem;
    color: rgb(192, 36, 16);
}

.hidden {
    display: none;
}


.fa-map-marker-alt {
    font-size: 2.5rem;
    position: absolute;
    top: 3rem;
    left: 2rem;
    color: hsl(219, 11%, 74%);
}

.button-wrapper {
    height: 100%;
    width: 15rem;
    background: #2EBD71;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

.button-wrapper:hover {
    background: rgb(51, 212, 127);
    transition-duration: 0.3s;
}

.btn {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    outline: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
}

.btn:disabled {
    background: rgb(125, 194, 157);
    color: #f5f5f5;
}

.headline-container {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -10rem;
    margin-bottom: 5rem;
    line-height: 5rem;
}

.brands-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -12rem;
    margin-bottom: 10rem;
    padding: 0 8rem;
}

.headline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.4rem;
    color: #333333;
    padding: 0 0;
}

.subhead {
    font-size: 2.4rem;
    color: #2c2c2c;
    padding: 0 0;
}

.graphic-container {
    width: 100%;
    height: 75rem;
    background-color: #2EBD71;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
    clip-path: polygon(0 3%, 100% 12%, 100% 88%, 0 97%);
}

.car-top {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 135px;
    margin-right: 120px;
    opacity: 1;
    z-index: 1;
}

.car-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -70px;
    margin-right: 120px;
    opacity: 0;
    z-index: 1;
}

.truck {
    margin-bottom: -50px !important;
}

.muscle {
    margin-bottom: -85px !important;
}

.text-container {
    position: relative;
    margin-top: -1rem;
    width: 40vw;
    height: 50vh;
    margin-left: 16rem;
    border-radius: 8px;
    background: #2EBD71;
    padding: 0rem 4rem;
}

.divider {
    background: white;
    height: 0.1rem;
    width: 100%;
    margin-top: 7%;
}

.text-container .subhead {
    color: white;
    margin-top: 2rem;
    line-height: 3.4rem;
    font-family: 'Poppins', sans-serif;
}

.text-container .headline {
    color: white;
}

.white-container {
    width: 100%;
    height: 65.5rem;
    position: relative;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-container2 {
    margin-top: -4.5rem;
    width: 40vw;
    height: 50vh;
    margin-left: 18rem;
    padding: 0rem 4rem;
}

.text-container2 .divider {
    background: black;
}

.text-container2 .subhead {
    margin-top: 2rem;
    line-height: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.isometric-car {
    position: absolute;
    left: 0;
    margin-left: 12rem;
}

.light {
    fill: #2EBD71;
    animation: colorSwapLight 10s infinite;
}

.dark {
    fill: rgb(34, 141, 84);
    animation: colorSwapDark 10s infinite;
}

.darkest {
    fill: rgb(22, 92, 55);
    animation: colorSwapDarkest 10s infinite;
}

.inbetween {
    fill: rgb(37, 156, 93);
    animation: colorSwapInbetween 10s infinite;
}

.gray-container {
    width: 100%;
    height: 70rem;
    background-color: #f3f3f3;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.yellow-car {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    max-width: 100rem;
}

.text-container3 {
    text-align: center;
    width: 50vw;
    height: 30rem;
    line-height: 5rem;
    margin-left: 4%;
    margin-top: 2%;
    align-items: center;
    z-index: 1;
}

.text-container3 button {
    margin-top: 3.5rem;
}

.text-container3 a {
    font-size: 2.5rem;
}

.text-container3 .subhead {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

.forgot-pass:hover {
    border-bottom: 1px solid #2EBD71;
}

.shadow {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 145px;
    margin-bottom: 30px;
}

.bg-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}

.modal-content {
    height: 76%;
    width: 40%;
    background-color: white;
    position: relative;
    display: flex;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

.close {
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    font-size: 42px;
    z-index: 99;
}

.close:hover {
    color: red;
}

.modal-container {
    height: 100%;
    width: 100%;
}

.modal-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
}

.modal-signup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
}

.tab-headline {
    font-size: 3.3rem;
    color: #2EBD71;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 1.25rem;
}

#email-signup,
#email-login {
    background: rgb(240, 240, 240);
    width: 75%;
    height: 7rem;
    padding-left: 2%;
    border-radius: 2px;
    margin-bottom: 1%;
}

#password-login,
#password-signup,
#confirm {
    background: rgb(240, 240, 240);
    width: 75%;
    height: 7rem;
    padding-left: 2%;
    border-radius: 2px;
    margin-bottom: 1%;
}

.tabs {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.input-container {
    display: flex;
    width: 100%;
    height: 62%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3.7rem;
}

.input-container button {
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.input-container a.create-account {
    width: 75%;
    height: 7rem;
    background: #2EBD71;
    border-radius: 2px;
}

.social-container {
    width: 100%;
    height: 42%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-divider {
    width: 75%;
    text-align: center;
    border-bottom: 1px solid #979faf;
    line-height: 0.1em;
    margin-top: 3%;
}

.facebook,
.social {
    width: 36.5%;
    height: 7rem;
}

.facebook {
    background: #3b5b99;
    margin-right: 1%;
    margin-top: 3%;
    position: relative;
    border-radius: 2px;
    padding-left: 5%;
}

.twitter {
    width: 36.5%;
    height: 7rem;
    background: #00a2d0;
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 2px;
    position: relative;
    padding-left: 6%;
}

.social-span {
    background: #fff;
    padding: 0 0.75rem;
}

.login-content {
    display: none;
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s;
}

.signup-content {
    display: none;
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s;
}

.active {
    background: #d6d6d6;
    opacity: 0.3;
}

.fa-facebook-f {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.75rem;
    margin-top: 10%;
    margin-left: 24%;
}

.fa-twitter {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.75rem;
    margin-top: 10%;
    margin-left: 26%;
}

.modal-footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: rgb(241, 241, 241);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer a {
    font-size: 1.3rem;
    color: #2EBD71;
}

/* Results Page */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 0 5%;
    background: #87B7FF;
}

.navlink {
    font-size: 1.8rem;
    padding: 0rem 2rem;
    color: #ffffff;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.link-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.iconify {
    font-size: 3.7rem;
    color: #ffffff;
}

.checkmark {
    color: #44D889;
    font-size: 5rem;
}

.last-link {
    padding: 0rem 0rem 0rem 0.5rem;
}

.main-container {
    height: 100%;
    width: 100%;
    padding: 1rem 7rem;
    display: flex;
    background: #eeeded;
}

.sidebar {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 30%;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0rem;
}

.larger {
    font-size: 4.5rem;
    margin: 0rem 0.75rem 0rem -0.65rem;
}

.search-container-top {
    display: flex;
    height: 100%;
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #878787;
    border-radius: 4px 4px 0px 0px;
    flex-wrap: wrap;
    padding: 2rem 2rem 2.75rem 2rem;
    margin-bottom: -1px;
    position: relative;
}

.search-container-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #878787;
    border-radius: 0px 0px 4px 4px;
    flex-wrap: wrap;
    padding: 2rem;
    margin-bottom: 2rem;
}

.make-reset-container {
    width: 100%;
    padding-bottom: 2.5rem;
}

.model-reset-container {
    width: 100%;
}

.model-reset-container .model {
    height: 4rem;
    width: 100%;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 1rem;
}

.make-reset-container .make {
    height: 4rem;
    width: 100%;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-title {
    width: 47%;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
}

.filter-btn {
    height: 4.5rem;
    width: 100%;
    margin-top: 2.5rem;
    color: white;
    background: #87B7FF;
    font-size: 2.6rem;
    border: 1px solid #087DD2;
    border-radius: 4px;
}

.filter-dropdown {
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #878787;
    border-radius: 0px 0px 0px 0px;
    flex-wrap: wrap;
    padding: 2rem;
    position: relative;
}

.filters {
    width: 100%;
}

.filters>.filter-dropdown:first-child {
    border-radius: 4px 4px 0px 0px;
}

.filters>.filter-dropdown:nth-child(2) {
    margin-top: -1px;
}

.filters>.filter-dropdown:last-child {
    border-radius: 0px 0px 4px 4px;
    margin-top: -1px;
}

.filter-icon {
    font-size: 2rem;
    position: absolute;
    color: #87B7FF;
    top: 20px;
    right: 20px;
}

.range-numbers {
    padding: 1rem 1rem;
    margin-top: 0.5rem;
}

#sort {
    width: 17rem;
}

.slidecontainer {
    padding: 0.5rem 1rem;
    width: 100%;
    position: relative;
    /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 97%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    pointer-events: none;

}


.high {
    background: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 30px;
    border: 1px solid #087DD2;
    background: #87B7FF;
    cursor: pointer;
    pointer-events: all;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #87B7FF;
    cursor: pointer;
    pointer-events: all;
}

.add-width {
    width: 47%;
}

.selection {
    background: white;
    height: 4rem;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 1rem;
}

.data-container {
    flex: 70;
    height: 100%;
    width: 100%;
    position: relative;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75rem 0rem;
    position: relative;
}

.heading {
    font-size: 1.6rem;
}

.results {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid rgb(182, 182, 182);
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
}

.listing-title {
    font-size: 2.5rem;
    position: absolute;
}

.img-container {
    padding-top: 3.5rem;
    height: 34rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.list-img {
    height: auto;
    width: 100%;
    min-width: 40rem;
}

.info-container {
    padding-top: 4rem;
    padding-left: 1rem;
}

.price-container {
    padding: 0rem 1rem;
    height: 4rem;
    width: 100%;
    position: relative;
}

.history-container {
    margin-top: 0.75rem;
    height: 15rem;
    width: 100%;
}

.columns {
    display: flex;
    height: 100%;
}

.column-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 3px;
    flex: 33%;
    height: 100%;
    background: #f5f8fb;
    border: 1px solid #C9C9C9;
    border-radius: 5px 0px 0px 5px;
    flex-direction: column;
}

.column-item:first-child {
    border-radius: 5px 0px 0px 5px;
}

.column-item:nth-child(2) {
    border-left: none;
    border-radius: 0px;
}

.column-item:last-child {
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}

.history-text {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.price {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
}

.mileage {
    font-size: 1.35rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 2rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;
}

.results:hover {
    border: 1px solid #2EBD71;
    background: rgb(192, 238, 214);
}

.details-container {
    margin-top: 2.7rem;
    width: 100%;
    display: grid;
    grid-template-columns: 24rem 22rem;
}

.detail {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}


.sort {
    text-indent: 0;
}


/* button effects */

.signup {
    transition: all 0.2s;
}

.signup span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.signup span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2rem;
    transition: 0.3s;
}

.signup:hover span {
    padding-right: 1.75rem;
}

.signup:hover span:after {
    opacity: 1;
    right: 0;
}

.signup:hover {
    background: rgb(51, 212, 127);
    border-color: rgb(51, 212, 127);
}

.login {
    transition: all 0.2s ease 0s;
}

.login:hover {
    color: #ffffff;
    border-color: rgb(51, 212, 127);
    background: rgb(51, 212, 127);
    transition: all 0.2s ease 0s;
}

.search-icon {
    height: 12rem;
    width: 12rem;
}

/* Media Queries */

@media (max-width: 1350px) {
    .yellow-car {
        max-width: 90rem;
    }
}

@media (max-width: 1290px) {

    .isometric-car {
        height: 45rem;
        width: 45rem;
    }

    .headline {
        font-size: 4rem;
    }

    .subhead {
        font-size: 2rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 40rem;
        width: 40rem;
        overflow: hidden;
    }

    .car-top {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 185px;
        margin-right: 120px;
        opacity: 1;
        z-index: 1;
    }

    .car-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: -20px;
        margin-right: 120px;
        opacity: 0;
        z-index: 1;
    }

    .shadow {
        margin-bottom: 8rem;
        margin-right: 12.1rem;
    }

    .truck {
        margin-bottom: -1px !important;
    }

    .muscle {
        margin-bottom: -35px !important;
    }

    .brands-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: -12rem;
        margin-bottom: 10rem;
        padding: 0 4rem;
    }
}

@media (max-width: 1150px) {

    .yellow-car {
        max-width: 80rem;
    }

    .isometric-car {
        margin-left: 8rem;
    }

    .text-container {
        margin-left: 10rem;
    }

    .brands-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: -12rem;
        margin-bottom: 10rem;
        padding: 0 0rem;
    }

}

@media (max-width: 1050px) {
    .text-container {
        margin-top: -4rem;
    }

    .text-container2 {
        margin-top: -14rem;
    }

}

@media (max-width: 1020px) {

    .headline-container {
        margin-top: -9rem;
        margin-bottom: 4rem;
        line-height: 4rem;
    }

    .headline {
        font-size: 3.6rem;
    }

    .subhead {
        font-size: 1.8rem;
    }

    .search {
        margin: auto;
        max-width: 45rem;
        width: 85%;
        height: 100%;
        position: relative;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2)
    }

    .make-wrapper {
        height: 8rem;
        width: 100%;
        background-color: white;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0rem;
        position: relative;
    }

    .make {
        height: 100%;
        width: 100%;
        border-bottom: 0.1rem solid hsl(240, 6%, 91%);
        border-radius: 0px;
        border-right: none;
        padding-left: 14%;
    }

    .fa-tools {
        font-size: 2.3rem;
        position: absolute;
        top: 2.7rem;
        left: 2rem;
        color: hsl(219, 11%, 74%);
    }

    .model-wrapper {
        height: 8rem;
        width: 100%;
        background-color: white;
        position: relative;
    }

    .model {
        height: 100%;
        width: 100%;
        border-right: none;
        border-bottom: 0.1rem solid hsl(240, 6%, 91%);
        border-radius: 0px;
        padding-left: 14%;
    }

    .fa-car {
        font-size: 2.6rem;
        position: absolute;
        top: 2.5rem;
        left: 2rem;
        color: hsl(219, 11%, 74%);
    }

    .zip-wrapper {
        height: 8rem;
        width: 100%;
        background-color: white;
        position: relative;
        border-right: none;
    }

    .zip {
        height: 100%;
        width: 100%;
        border-bottom: 0.1rem solid hsl(240, 6%, 91%);
        border-radius: 0px;
        border-right: none;
        padding-left: 14%;
    }

    .zip-error {
        font-size: 1.2rem;
        position: absolute;
        right: 0;
        top: 2.5rem;
        color: rgb(192, 36, 16);
    }

    .hidden {
        display: none;
    }

    .fa-map-marker-alt {
        font-size: 2.3rem;
        position: absolute;
        top: 2.5rem;
        left: 2.7rem;
        color: hsl(219, 11%, 74%);
    }

    .button-wrapper {
        height: 7rem;
        width: 100%;
        background: #2EBD71;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }

    .button-wrapper:hover {
        background: rgb(51, 212, 127);
        transition-duration: 0.3s;
    }

    .brands-container {
        display: flex;
        justify-content: space-evenly;
        margin-top: -12rem;
        margin-bottom: 5rem;
        padding: 0rem 2rem;
    }

    .kbb {
        height: 55px;
        width: 90px;
    }

    .atc-logo {
        height: 45px;
        width: 160px;
    }

    .carsdotcom {
        height: 50px;
        width: 65px;
    }

    .edmunds {
        height: 45px;
        width: 240px;
    }

    .carfax {
        height: 45px;
        width: 175px;
    }

    .login {
        display: none;
    }

    .signup {
        display: none;
    }

    .container {
        margin-right: 1rem;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #2EBD71;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .hamburger-links {
        position: fixed;
        z-index: 2;
        background: #2EBD71;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        font-size: 2.2rem;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: fixed;
        z-index: 4;
        background: white;
    }

    .hidden {
        display: none;
    }

    .hamburger-link-container {
        height: 40rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hamburger-link {
        color: white;
    }

    .hamburger-divider {
        background: white;
        height: 1px;
        width: 17%;
        margin: 2rem;
    }

    .footnote {
        position: absolute;
        color: white;
        font-size: 1.4rem;
        bottom: 1.5rem;
    }

    .hamburger-link:hover {
        color: rgb(228, 228, 228);
        transition-duration: 0.3s;
    }

    .visible {
        display: block;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 8rem;
    }

}

@media (max-width: 980px) {

    .text-container {
        margin-top: 6rem;
        margin-left: 8rem;
    }

    .text-container2 {
        margin-top: -5rem
    }

    .text-container p {
        font-size: 1.7rem;
    }

    .text-container h3 {
        font-size: 2.7rem;
    }

    .text-container2 p {
        font-size: 1.7rem;
    }

    .text-container2 h3 {
        font-size: 2.7rem;
    }

    .yellow-car {
        max-width: 70rem;
    }

    .isometric-car {
        height: 42rem;
        width: 42rem;
    }

    .search-icon {
        height: 10.2rem;
        width: 10.2rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 36rem;
        width: 36rem;
    }

    .shadow {
        margin-bottom: 9rem;
    }

}

@media (max-width: 880px) {

    .isometric-car {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-left: 20rem;
    }

    .search-icon {
        display: none;
    }

    .carsdotcom {
        display: none;
    }

    .graphic-container {
        justify-content: center;
        align-items: flex-start;
        height: 80rem;
    }

    .text-container {
        width: 80%;
        margin: 0px;
        margin-top: 13.5rem;
    }

    .divider {
        margin-top: 3%;
        width: 100%;
    }

    .text-container h3 {
        font-size: 4rem;
    }

    .text-container p {
        font-size: 1.9rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 38rem;
        width: 38rem;
        margin-right: 24rem;
    }

    .white-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 80rem;
    }

    .text-container2 {
        width: 80%;
        margin: 0px;
        margin-top: 6rem;
    }

    .text-container2 h3 {
        font-size: 4rem;
    }

    .text-container2 p {
        font-size: 1.9rem;
    }

    .car-top {
        margin-bottom: 50px;
    }

    .car-bottom {
        position: absolute;
        margin-bottom: -150px;
    }

    .shadow {
        margin-bottom: -5rem;
    }

    .truck {
        margin-bottom: -140px !important;
    }

    .muscle {
        margin-bottom: -169px !important;
    }

    .gray-container {
        justify-content: center;
    }

    .text-container3 {
        text-align: center;
        width: 80%;
        height: 30rem;
        line-height: 3rem;
        margin-left: 0%;
        margin-top: -9.5rem;
        align-items: center;
        z-index: 1;
    }

    .text-container3 button {
        margin-top: 3.5rem;
    }

    .text-container3 a {
        font-size: 2.5rem;
    }

    .text-container3 .subhead {
        margin-top: 2rem;
        font-family: 'Poppins', sans-serif;
    }

    .yellow-car {
        min-width: 57.5rem;
    }

}

@media (max-width: 840px) {



    .brands-container {
        display: none;
    }

    .headline-container {
        margin-top: 4rem;
    }

    .section {
        height: 62rem;
    }

    .text-container {
        margin-top: 15rem;
    }

}

@media (max-width: 820px) {

    .graphic-container {
        height: 85rem;
    }

    .isometric-car {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-left: 18.5rem;
    }

    .search-icon {
        position: absolute;
        bottom: 180px;
        left: 180px;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 38rem;
        width: 38rem;
        margin-right: 23rem;
    }

}

@media (max-width: 790px) {

    .isometric-car {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-left: 16.5rem;
    }

    .search-icon {
        position: absolute;
        bottom: 180px;
        left: 150px;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 38rem;
        width: 38rem;
        margin-right: 20rem;
    }

}

@media (max-width: 750px) {


    .isometric-car {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin-left: 15.5rem;
    }

    .search-icon {
        position: absolute;
        bottom: 180px;
        left: 140px;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 38rem;
        width: 38rem;
        margin-right: 18rem;
    }

}

@media (max-width: 720px) {

    .isometric-car {
        margin-left: 14rem;
    }

    .search-icon {
        bottom: 180px;
        left: 125px;
    }

    .graphic-container {
        height: 90rem;
    }

    .white-container {
        height: 85rem;
    }

    .text-container2 {
        margin-top: 6rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        height: 38rem;
        width: 38rem;
        margin-right: 18rem;
    }

    .car-top {
        margin-bottom: 90px;
    }

    .car-bottom {
        position: absolute;
        margin-bottom: -110px;
    }

    .shadow {
        margin-bottom: -1rem;
    }

    .truck {
        margin-bottom: -100px !important;
    }

    .muscle {
        margin-bottom: -129px !important;
    }

}

@media (max-width: 700px) {

    .isometric-car {
        margin-left: 12rem;
    }

    .search-icon {
        bottom: 180px;
        left: 120px;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 15rem;
    }

}

@media (max-width: 650px) {

    .isometric-car {
        margin-left: 10rem;
    }

    .search-icon {
        bottom: 180px;
        left: 100px;
    }

    .headline {
        padding: 0 1%;
    }

    .subhead {
        padding: 0 1%;
    }

}

@media (max-width: 630px) {

    .isometric-car {
        margin-left: 9rem;
    }

    .search-icon {
        bottom: 180px;
        left: 90px;
    }

    .graphic-container {
        height: 93rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 13rem;
    }

}

@media (max-width: 600px) {

    .isometric-car {
        margin-left: 8rem;
    }

    .search-icon {
        bottom: 180px;
        left: 80px;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 11.2rem;
    }

    .yellow-car {
        min-width: 50.5rem;
    }

}

@media (max-width: 560px) {

    .white-container {
        height: 94rem;
    }

    .isometric-car {
        margin-left: 6rem;
    }

    .search-icon {
        bottom: 180px;
        left: 80px;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 10rem;
    }

}

@media (max-width: 540px) {

    .isometric-car {
        margin-left: 5rem;
    }

    .search-icon {
        display: none;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 8.5rem;
    }

    .headline-container .headline {
        padding: 0 2%;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .headline-container .subhead {
        padding: 0 2%;
        line-height: 2rem;
    }

}

@media (max-width: 530px) {

    .graphic-container {
        height: 97rem;
    }

    .isometric-car {
        margin-left: 3.5rem;
    }

    .search-icon {
        bottom: 180px;
        left: 40px;
    }

    .text-container {
        margin-top: 19rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 12.5rem;
        height: 28rem;
        width: 28rem;
    }

    .shadow {
        margin-bottom: 1.5rem;
    }


}

@media (max-width: 500px) {

    .graphic-container {
        height: 100rem;
    }

    .isometric-car {
        margin-left: 3.5rem;
    }

    .isometric-car {
        height: auto;
        width: 77%;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 11rem;
    }

    .logo-container {
        margin-left: 5%;
    }

    .link-container {
        margin-right: 5%;
    }

}

@media (max-width: 470px) {
    .yellow-car {
        min-width: 42.5rem;
    }

    .make,
    .model,
    .zip {
        padding-left: 17%;
    }
}

@media (max-width: 450px) {
    .yellow-car {
        min-width: 42.5rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 7rem;
    }
}

@media (max-width: 400px) {

    .graphic-container {
        height: 90rem;
    }

    .white-container {
        height: 85rem;
    }

    .text-container2 {
        margin-top: 6.9rem;
        width: 100%;
    }

    .text-container {
        width: 100%;
        margin-top: 12rem;
    }

    .headline-container .subhead {
        padding: 0 1.2rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 6rem;
    }

    .make,
    .model,
    .zip {
        padding-left: 18.5%;
    }
}

@media (max-width: 380px) {
    .graphic-container {
        height: 93.5rem;
    }

    .white-container {
        height: 94rem;
    }

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 13%;
    }
}

@media (max-width: 360px) {

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 4.5rem;
    }

    .make,
    .model,
    .zip {
        padding-left: 19%;
    }

}

@media (max-width: 340px) {

    .muscle,
    .sedan,
    .shadow,
    .truck,
    .beetle {
        margin-right: 2rem;
    }

    .make,
    .model,
    .zip {
        padding-left: 22%;
    }

}


/* Animations */

.dropdownAnimation {
    opacity: 0;
    animation: dropdown 0.6s ease-in 1 forwards;
}

@keyframes dropdown {
    100% {
        opacity: 1;
    }
}

@keyframes colorSwapLight {
    10% {
        fill: rgb(189, 75, 46)
    }

    20% {
        fill: rgb(189, 75, 46)
    }

    30% {
        fill: rgb(46, 184, 189)
    }

    40% {
        fill: rgb(46, 184, 189)
    }

    50% {
        fill: rgb(241, 239, 79)
    }

    60% {
        fill: rgb(241, 239, 79)
    }

    70% {
        fill: rgb(231, 158, 61)
    }

    80% {
        fill: rgb(231, 158, 61)
    }

    90% {
        fill: #2EBD71
    }

    100% {
        fill: #2EBD71
    }
}

@keyframes colorSwapDark {
    10% {
        fill: rgb(133, 53, 32)
    }

    20% {
        fill: rgb(133, 53, 32)
    }

    30% {
        fill: rgb(30, 118, 121)
    }

    40% {
        fill: rgb(30, 129, 133)
    }

    50% {
        fill: rgb(194, 192, 63)
    }

    60% {
        fill: rgb(194, 192, 63)
    }

    70% {
        fill: rgb(182, 124, 49)
    }

    80% {
        fill: rgb(182, 124, 49)
    }

    90% {
        fill: rgb(34, 141, 84)
    }

    100% {
        fill: rgb(34, 141, 84)
    }
}

@keyframes colorSwapDarkest {
    10% {
        fill: rgb(87, 34, 20)
    }

    20% {
        fill: rgb(87, 34, 20)
    }

    30% {
        fill: rgb(23, 93, 95)
    }

    40% {
        fill: rgb(23, 93, 95)
    }

    50% {
        fill: rgb(161, 160, 56)
    }

    60% {
        fill: rgb(161, 160, 56)
    }

    70% {
        fill: rgb(150, 102, 40)
    }

    80% {
        fill: rgb(150, 102, 40)
    }

    90% {
        fill: rgb(22, 92, 55)
    }

    100% {
        fill: rgb(22, 92, 55)
    }
}

@keyframes colorSwapInbetween {
    10% {
        fill: rgb(156, 62, 38)
    }

    20% {
        fill: rgb(156, 62, 38)
    }

    30% {
        fill: rgb(37, 151, 155)
    }

    40% {
        fill: rgb(37, 151, 155)
    }

    50% {
        fill: rgb(207, 205, 54)
    }

    60% {
        fill: rgb(207, 205, 54)
    }

    70% {
        fill: rgb(202, 138, 53)
    }

    80% {
        fill: rgb(202, 138, 53)
    }

    90% {
        fill: rgb(37, 156, 93)
    }

    100% {
        fill: rgb(37, 156, 93)
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.search-icon {
    margin-left: 15rem;
    animation: movement 10s infinite;
}

@keyframes movement {
    10% {
        transform: translate(225px, -75px) rotate(-20deg)
    }

    20% {
        transform: translate(225px, -75px) rotate(-20deg)
    }

    30% {
        transform: translate(-110px, -90px) rotate(100deg)
    }

    40% {
        transform: translate(-110px, -90px) rotate(100deg)
    }

    50% {
        transform: translate(-120px, 130px) rotate(70deg)
    }

    60% {
        transform: translate(-120px, 130px) rotate(70deg)
    }

    70% {
        transform: translate(150px, 75px) rotate(10deg)
    }

    80% {
        transform: translate(150px, 75px) rotate(10deg)
    }

    90% {
        transform: translate(0px, 0px)
    }

    100% {
        transform: translate(0px, 0px)
    }
}

.car-top {
    animation: rotateBottom 25s infinite, disappear 25s infinite;
    animation-fill-mode: forwards;
}

.rotate1 {
    animation: rotateTop1 25s infinite, appear1 25s infinite;
    animation-fill-mode: forwards;
}

.rotate2 {
    animation: rotateTop2 25s infinite, appear2 25s infinite;
    animation-fill-mode: forwards;
}

.rotate3 {
    animation: rotateTop3 25s infinite, appear3 25s infinite;
    animation-fill-mode: forwards;
}

.rotate4 {
    animation: rotateTop4 25s infinite, appear4 25s infinite;
    animation-fill-mode: forwards;
}

@keyframes rotateBottom {
    0% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(0deg);
    }

    /* start next here */
    21% {
        -webkit-transform: rotate(-5deg);
    }

    25% {
        -webkit-transform: rotate(180deg) translateY(-200px);
    }

    95% {
        -webkit-transform: rotate(180deg) translateY(-200px);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    21% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    45% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    47% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    50% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop2 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    47% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    70% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    71% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    75% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop3 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    71% {
        -webkit-transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    95% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    96% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    100% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateTop4 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    54% {
        -webkit-transform: rotate(0deg);
    }

    56% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    66% {
        -webkit-transform: rotate(180deg) translateY(200px);
    }

    /* start next here */
    67% {
        -webkit-transform: rotate(175deg) translateY(200px);
    }

    69% {
        -webkit-transform: rotate(360deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes disappear {
    20% {
        opacity: 1;
    }

    23% {
        opacity: 0;
    }

    96% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appear1 {
    22% {
        opacity: 0;
    }

    24% {
        opacity: 1;
    }

    47% {
        opacity: 1;
    }

    49% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear2 {
    48% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    72% {
        opacity: 1;
    }

    74% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes appear3 {
    72% {
        opacity: 0;
    }

    74% {
        opacity: 1;
    }

    96% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes appear4 {
    76% {
        opacity: 0;
    }

    78% {
        opacity: 1;
    }

    98% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}